- content_for :noguchi_new do
  noguchi

%h2.m-3.text-center バトル

.m-3
  .js-battle-wild.js-battle-wild-monster-information
    %div.font-weight-bold 「あ、野生の#{@wild_monster.name}が現れた！」
    %div パワー : #{ @wild_monster.power }
    %div タイプ : #{ t(@wild_monster.ability&.class_type, scope: "activerecord.enum.ability.class_type") }
  = image_tag "yukichi.png", width: '40%', class: "active-noguchi js-active-noguchi d-none"
  = image_tag "yukichi.png", class: "active-noguchi js-active-noguchi d-none", width: '40%'

  .battle-winner.d-none.js-battle-wild-winner
    .card
      .card-body
        - if @judge.win?
          %h2.bg-success.text-white.p-3.radius You Win!
          %p.font-weight-bold おめでとう！#{@wild_monster.name}をゲットしたよ！
        - else
          %h2.bg-danger.text-white.p-3.radius You Lose...
          %p.font-weight-bold 残念...逃したよ...。

        = link_to "探しに行く", maps_path, class: "btn btn-primary fontM"
