.card.mb-3
  .card-body
    .monster
      .monster-image
        = image_tag "yukichi.png", class: "rounded-circle", width: "100px"

      .monster-information
        .mb-1 #{ monster.user.name }さんのノグチ

        %div= monster.display_name
        %div パワー : #{ monster.power }
        - if monster.user != current_user
          = link_to "こいつと戦う", new_user_battle_url(monster.user), class: "btn btn-primary"
