.card.mb-3
  .card-body
    .monster
      .monster-image
        = image_tag "yukichi.png", class: "rounded-circle", width: "100px"

      .monster-information
        .mb-2 #{ monster.user.name }さんのノグチ

        .small
          %div= monster.display_name
          %div パワー : #{ monster.power }
          %div タイプ : #{ t(monster.ability&.class_type, scope: "activerecord.enum.ability.class_type") }
          - if monster.user != current_user
            = link_to "このノグチと戦う", new_user_battle_url(monster.user), class: "mt-3 btn btn-primary"
