- is_main = (monster == current_user.main_monster)
.card.mb-3
  .card-body
    = link_to "#", "data-target" => "#monster_#{monster.id}", "data-toggle" => "modal" do
      .monster
        .monster-image
          = image_tag "yukichi.png", class: "rounded-circle #{is_main ? 'monster-select' : nil} js-select-monster js-monster-#{monster.id}", width: "100px"

        .monster-information
          .small
            %div= monster.display_name
            %div パワー : #{ monster.power }
            %div タイプ : #{ t(monster.ability&.class_type, scope: "activerecord.enum.ability.class_type") }
            = link_to "バイバイする", monster_path(monster), method: :delete, class: "btn btn-danger fontM mt-3", data: { confirm: '本当にこのノグチとバイバイしますか？(10ヒデコイン必要です)' }
