
.mt-2.p-2
  .mb-2
    .card
      .card-body
        %h2.title ユーザー情報
        %p あなたの名前 : #{@user.name}
        = link_to 'ユキチ名変更', edit_user_path(@user), class: "btn btn-primary"
        = link_to 'バトル履歴', user_battles_path(@user), class: "btn btn-information"
  %h2.title #{ @user.name }のノグチ一覧

  = render partial: 'monster', collection: @monsters

  = paginate @monsters
