.p-3
  .mb-3
    %h3.title ユーザー情報
    .card
      .card-body
        %p #{@user.name}(所持コイン: #{@user.money_in_hand}ヒデコイン)
        = link_to 'ユキチ名変更', edit_user_path(@user), class: "btn btn-primary mr-3"
        = link_to 'バトル履歴', user_battles_path(@user), class: "btn btn-primary"
  %h3.title.mt-4 #{ @user.name }のノグチ一覧

  = render partial: 'monster', collection: @monsters

  = paginate @monsters
