= javascript_pack_tag 'clipboard'

.mt-2.p-2
  .text-center
    %p はじめまして !!
    %p.mb-5 YukichiGO!の世界へようこそ
    %p この世界にはたくさんのノグチがいます。
    %p.mb-5 あなただけの最強のノグチを探してみましょう！
    %p まずは、右下の「ノグチ追加」から
    %p 千円札を読み込んでノグチをGETしよう!!
    %p 上手に撮影できない時は#{link_to "こちら", how_to_take_path}を見てね

    .mt-5
      = image_tag "first.png", width: "200px"

    .inquiry
      .fas.fa-phone-square
      お問い合わせ
      %div= link_to "@rice_cooker_lab", "https://twitter.com/rice_cooker_lab"

      .mt-2
        .fas.fa-donate
        寄付
        %div
          .fab.fa-paypal
          (PayPal)
          = link_to "PayPal", "https://www.paypal.me/kiyokuro"
        .fab.fa-bitcoin
        (Bitcoin)
        = form_with do |form|
          .d-flex
            = form.text_field :brouweer_id, value: "1FvvLqqMM55VytJRA4kkEo9WmcdbG79wvH", class: "w-100 js-copytext", id: "target_text"
            .btn.btn-primary.fontM{id: "copy_btn"} コピー