.mt-2.p-2
  - if current_user.main_monster.nil?
    .card
      .card-body
        %p.js_new-text
          メインモンスターを設定していません。バトルをするために設定しましょう！
        - current_user.monsters.each do |monster|
          = link_to "#", "data-target" => "#monster_#{monster.id}", "data-toggle" => "modal" do
            = image_tag "yukichi.png", class: "rounded-circle", width: "100px"
  - else
    .card
      .card-body
        %p メインモンスターを変更する
        - current_user.monsters.each do |monster|
          = link_to "#", "data-target" => "#monster_#{monster.id}", "data-toggle" => "modal" do
            = image_tag "yukichi.png", class: "rounded-circle", width: "100px"
