:ruby
  today = Time.zone.today
  created_date = battle.created_at.to_date

.card.mb-3.mr-3
  .card-body
    = image_tag "aaa.png", height: "30"
    %span
      %span.font-weight-bold.text-primary= battle.winner.name
      VS
      = battle.loser.name
    = image_tag "aaa.png", height: "30"
    .float-right
      - if  created_date == today
        .badge.badge-primary NEW
      - else
        = "#{diffirence_date created_date}日前"
