!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title YukichiGo
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    %nav.navbar.navbar-light.bg-light
      = link_to "諭吉Go!", root_path, class: "navbar-brand"
    #flash
    = yield
    .menu
      .menu-user
        = link_to "#", "data-target" => "#main_monster", "data-toggle" => "modal" do
          %i.fas.fa-hand-rock
          %p バトル
      .menu-camera
        %i.fas.fa-camera
        = link_to new_monster_path do
          %p あたらしいノグチ
      .menu-monsters
        %i.fas.fa-money-bill
        = link_to user_path current_user.id do
          %p モンスター一覧

    -# modal
    - if current_user.main_monster
      .modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: "main_monster"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5.modal-title= current_user.main_monster.name
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              = qrcode_tag("#")
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
