!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title YukichiGo
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    %nav.navbar.navbar-light.bg-light
      = link_to "諭吉Go!", root_path, class: "navbar-brand"
    #flash
    = yield
    .menu
      = link_to monsters_path, style: "width: 25%" do
        .menu-world
          %i.fas.fa-globe-asia
          %p 世界のノグチ
      = link_to "#", "data-target" => "#main_monster", "data-toggle" => "modal", style: "width: 25%" do
        .menu-user
          %i.fas.fa-hand-rock
          %p バトル
      = link_to new_monster_path, style: "width: 25%" do
        .menu-camera
          %i.fas.fa-camera
          %p あたらしいノグチ
      = link_to user_path current_user.id, style: "width: 25%" do
        .menu-monsters
          %i.fas.fa-money-bill
          %p モンスター一覧

    -# modal
    - if current_user.main_monster
      .modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: "main_monster"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5.modal-title= current_user.main_monster.name
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              .text-center= qrcode_tag new_battle_url(user_id: current_user.id), module_size: 5
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
