!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title YukichiGo
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    %nav.navbar.navbar-light.bg-light
      %a.navbar-brand{:href => "#"} Navbar
    = yield
    .menu
      .menu-user
        %i.fas.fa-hand-rock
        %p バトル
      .menu-camera
        %i.fas.fa-camera
      .menu-monsters
        %i.fas.fa-money-bill
        %p モンスター一覧
