!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title YukichiGo
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    %nav.navbar.navbar-light.bg-light
      = link_to "諭吉Go!", root_path, class: "navbar-brand"
    #flash
    .mt-2.p-2
      - if current_user.monsters.any? && current_user.main_monster.nil?
        .card
          .card-body
            %p.js_new-text
              メインモンスターを設定していません。バトルをするために設定しましょう！
            - current_user.monsters.each do |monster|
              = link_to "#", "data-target" => "#monster_#{monster.id}", "data-toggle" => "modal" do
                = image_tag "yukichi.png", class: "rounded-circle", width: "100px"
    = yield
    .menu
      .menu-list 
        = link_to monsters_path do
          .menu-world
            %i.fas.fa-globe-asia
            %p 世界のノグチ
      .menu-list
        = link_to "#", "data-target" => "#main_monster", "data-toggle" => "modal", class: "js-menu-battle" do
          .menu-user
            %i.fas.fa-hand-rock
            %p バトル
      .menu-list
        = form_with(model: @monster_form, url: monsters_path, class: "js-monster-form", local: true) do |f|
          .menu-camera
            = f.label :file do
              %i.fas.fa-camera
              %p add野口
            = f.file_field :file, style: "display:none;", class: "js-file-input"
      .menu-list
        = link_to user_path current_user.id do
          .menu-monsters
            %i.fas.fa-money-bill
            %p モンスター一覧

    -# modal
    - if current_user.main_monster
      .modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: "main_monster", class: ".js-main_monster"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5.modal-title= current_user.main_monster.name
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              .text-center= qrcode_tag new_battle_url(user_id: current_user.id), module_size: 5
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
